body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.forms label,
.forms input .forms span {
  display: inline-block;
}
.forms label {
  text-align: right;
  width: 150px;
}
